{define fullTitle}{ifset #metaTitle}{include metaTitle|striptags|trim|strip}{else}IronWash{/ifset}{/define}
{define fullDesc}{ifset #metaDescription}{include metaDescription|striptags|trim|strip}{else}IronWash{/ifset}{/define}

<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{ifset title}{include title|stripHtml} | {/ifset}IronWash</title>
	<meta name="robots" content="{$robots}" n:ifset="$robots">
	<meta name="description" content="{include fullDesc}">

	{* OG things *}
	<meta property="og:title" content="{ifset title}{include title|striptags|trim|strip} | {/ifset}Iron Wash" />
	<meta property="og:url" content="{plink //this}" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="{$baseUrl}/assets/images/ogimage-.png" />
	<meta property="og:image:width" content="600" />
	<meta property="og:image:height" content="315" />
	<meta property="og:site_name" content="{ifset title}{include title|striptags|trim|strip} | {/ifset}Iron Wash" />
	<meta property="og:description" content="{include fullDesc}" />
	<meta property="og:locale" content="cs_CZ" />

	{* Favicon *}
	<link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/www/assets/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{$basePath}/www/assets/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{$basePath}/www/assets/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="{$basePath}/www/assets/images/favicon/site.webmanifest">
	<link rel="mask-icon" href="{$basePath}/www/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="{$basePath}/www/assets/images/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#0b0b0b">
	<meta name="msapplication-config" content="{$basePath}/www/assets/images/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	{* Fonts *}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Titillium+Web:wght@300;400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

	{* CSS files *}
	<link rel="stylesheet" href="{$basePath . '/www/assets/dist/css/1-vendor.min.css'|asset}">
	<link rel="stylesheet" href="{$basePath . '/www/assets/dist/css/2-document.min.css'|asset}">
	<link rel="stylesheet" href="{$basePath . '/www/assets/dist/css/3-core.min.css'|asset}">
	<link rel="stylesheet" href="{$basePath . '/www/assets/dist/css/4-components.min.css'|asset}">
	<link rel="stylesheet" href="{$basePath . '/www/assets/dist/css/5-ui.min.css'|asset}">

	{* JS files *}
	<script src="{$basePath . '/www/assets/dist/js/jquery-3.5.1.min.js'|asset}"></script>
	<script src="{$basePath . '/www/assets/dist/js/nette.ajax.min.js'|asset}"></script>
	<script src="{$basePath . '/www/assets/dist/js/live-form-validation.min.js'|asset}"></script>
	<script src="{$basePath . '/www/assets/dist/js/svg.min.js'|asset}"></script>
	<script src="{$basePath . '/www/assets/dist/js/smooth-scroll.min.js'|asset}"></script>
	<script src="{$basePath . '/www/assets/dist/js/hamburger.min.js'|asset}"></script>
	<script src="{$basePath . '/www/assets/dist/js/main.min.js'|asset}"></script>

	{include 'includes/tracking/googleAnalytics.latte'}
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">
		<p>{$flash->message}</p>
	</div>

	{include 'includes/header.latte'}

	<main class="content">
		{include content}
	</main>

	{include 'includes/footer.latte'}

	{* Cookie component *}
	{control cookieAgreement}

	<div id="overlay">
		<div class="navigation navigation--mobile">
			{include 'includes/navigation.latte'}
		</div>
	</div>

	{block scripts}
		<script>
			$(function () {
				$.nette.init();
			});
		</script>
	{/block}
</body>
</html>
