@import '../config';
@import '../core/breakpoints';

section {
	//margin-bottom: $section-gutter;
	padding: 6rem 0;
	@include max640px {
		padding: 3rem 0;
	}
}

.wrapper {
	max-width: $grid-max-width;
	width: 100%;
	margin: 0 auto;
	padding: 0 1rem;
	box-sizing: border-box;
}

table {
	border-collapse: collapse;
}

.content {
	@include max640px {
		padding-top: 60px;
	}
}

br {
	@include max640px {
		display: none;
	}
}