# CookieComponent

'Tyto webové stránky používají k poskytování služeb, personalizaci reklam a analýze návštěvnosti soubory cookie. Informace o tom, jak tyto webové stránky používáte, jsou sdíleny se společností Google. Používáním těchto webových stránek souhlasíte s použitím souborů cookie.':
	sk: 'Tieto webové stránky používajú na poskytovanie služieb, personalizáciu reklám a analýzu návštevnosti súbory cookie. Informácie o tom, ako tieto webové stránky používate, sú zdieľané so spoločnosťou Google. Používaním týchto webových stránok súhlasíte s použitím súborov cookie.'

'Souhlasím':
	sk: 'Súhlasím'

'Úvodní stránka':
	en: 'Homepage'

'Naše služby':
	en: 'Our services'

'Praní - sušení - žehlení':
	en: 'Washing - drying - ironing'

'S námi to zvládnete':
	en: 'You can do it all with us'

'Jak to funguje':
	en: 'How it works'
	sk: 'Test'

'Máte penzion nebo apartmán? <br> Nechcete si s prádlem dělat starosti? <br> Nechte to na nás!':
	en: "Do you have a guesthouse or apartment? <br> Don't you want to worry about laundry? <br> Leave it to us!"

'Nabízíme profesionální prádelenské <br> služby pro podnikatele i širokou veřejnost.':
	en: 'We offer professional laundry services <br> for entrepreneurs  and the general public'

'Nemusíte nosit nic dalšího, <br> pračky si samy dávkují <br> čistící prostředky':
	en: "You don't need to carry anything other than laundry, our washing machines automatically dispense professional detergents"

'Za necelou hodinu <br> máte vypráno':
	en: 'Your laundy will be <br> done in less than an hour'

'K dispozici <br> profesionální sušičky':
	en: 'Professional <br> dryers available'

'Nabízíme také žehlení':
	en: 'We also offer ironing'

'Ceník':
	en: 'Pricelist'

'Praní':
	en: 'Washing'

'Sušení':
	en: 'Drying'

'Pračka na 10 kg prádla':
	en: 'Washing machine for 10 kg of laundry'

'Pračka na 15 kg prádla':
	en: 'Washing machine for 15 kg of laundry'

'Sušička na 15 kg prádla':
	en: 'Dryer for 15 kg of laundry'

'Sušicka na 25 kg prádla':
	en: 'Dryer for 25 kg of laundry'

'Kontaktujte nás':
	en: 'Contact us'

'od 150 Kč':
	en: 'from 150 CZK'

'od 200 Kč':
	en: 'from 200 CZK'

'od 120 Kč / 60 minut':
	en: 'from 120 CZK / 60 minutes'

'od 150 Kč / 60 minut':
	en: 'from 150 CZK / 60 minutes'

'Kontakt':
	en: 'Contact'

'Kontaktujte nás ohledně jakýchkoliv dotazů a my se vám budeme plně věnovat.':
	en: 'Contact us with any questions and we will fully attend to you.'

'Více informací':
	en: 'More informations'

'Naše profesionální velkoobjemové pračky značky PRIMUS vyperou Vaše prádlo za necelou hodinu a poskytnou mu nejlepší péči. Kromě prádla nemusíte nosit nic dalšího - naše pračky si samy automaticky dávkují profesionální prostředky. Máme k dispozici několik pracích programů, pro různé druhy prádla a pro jeho menší i větší znečištění. K dispozici jsou dvě větší pračky pro 15kg a jedna menší pro 10 kg. Platí obecné uživatelské pravidlo, pračky plníme zhruba ze 3/4, aby bylo prádlo dobře vyprané a nadýchané.':
	en: "Our professional PRIMUS large-volume washing machines will wash your laundry in less than an hour and provide it with the best care. You don't need to carry anything other than laundry - our washing machines automatically dispense professional detergents. We have several washing programs available, for different types of laundry and for its minor and major impurities. There are two larger washing machines one is for 15 kg and one smaller one for 10 kg. The general user rule applies, we fill the washing machines about 3/4 so that the laundry is well washed and fluffy."

'Výhodou profesionálního praní je úspora času i peněz. Profesionální pračka vypere Vaše prádlo šetrněji a zároveň kvalitněji, než pračka domácí. Naše pračky jsou uživatelsky velice jednoduché, a tak se nemusíte bát, že je nebudete umět ovládat. A co kdyby nastal problém ? I na takové případy jsme připraveni a v případě problému, nebo dotazů je Vám k dispozici milá obsluha, která Vám ráda se vším poradí.':
	en: "The advantage of professional washing is saving time and money. A professional washing machine washes your clothes more gently and at the same time also with better quality than a home washing machine. Our washing machines are very easy to use, so you don't have to worry about not knowing how to operate them. And what if there is a problem? We are also prepared for such cases, and in the event of a problem or questions, a friendly staff is at your disposal, who will be happy to advise you on everything."

'Po vyprání jsou k dispozici profesionální sušičky též značky PRIMUS.':
	en: 'After washing, professional dryers from the PRIMUS brand are also available.'

'Velkoobjemové sušičky pojmou až 25 kg prádla a za hodinku může být Vaše prádlo připraveno. Doba sušení se odvíjí od objemu a materiálu prádla.':
	en: ' Large-volume dryers can hold up to 25 kg of laundry and your laundry can be ready in an hour. The drying time depends on the volume and material of the laundry.'

'Výhodou sušení ve velkoobjemové sušičce je úspora času a objem, díky kterému nedochází k mačkání prádla. Po vysušení jej lze tedy poskládat a uložit do skříně. Chcete u nás vyprat mačkavé věci ? A rádi byste je měli vyžehlené ? I tuto službu Vám po předchozí domluvě můžeme zařídit. V naší residenci máme profesionální mandl k vyžehlení prádla všech rozměrů.':
	en: 'The advantage of drying in a large-volume dryer is the saving of time and volume, thanks to which laundry does not wrinkle. After drying, it can be folded and stored in the closet. Do you want to wash wrinkled things with us? And would you like to have them ironed? We can also arrange this service for you by prior agreement. In our residence, we have a professional iron for ironing clothes of all sizes.'
