@import '../config';

.cover {
	position: relative;
	padding: 0;
	.cover__visual {
		display: block;
		background-color: rgba(0, 0, 0, 0.7);
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
			background-color: rgba(0, 0, 0, 0.5);
		}
	}

	.cover__image {
		display: block;
		max-width: 1920px;
		width: 100%;
		margin: 0 auto;
		img {
			display: block;
			width: 100%;
		}
	}

	.cover__wrapper {
		display: flex;
		align-items: center;
		flex-direction: column;
		position: absolute;
		top: 40%; left: 50%;
		transform: translate(-50%, -50%);
		@media screen and (max-width: 1680px) {
			top: 50%;
		}
	}

	.cover__logo {
		display: block;
		max-width: 225px;
		width: 100%;
		margin: 0 auto 3rem;
		@media screen and (max-width: 1390px) {
			max-width: 150px;
			margin-bottom: 1rem;
		}

		@include max375px {
			max-width: 100px;
		}
	}

	.cover__copy {
		text-align: center;
		margin-bottom: 3rem;
		font-size: 24px;
		color: $white;
		@media screen and (max-width: 1390px) {
			margin-bottom: 1.5rem;
		}

		@include max640px {
			font-size: 18px;	
		}
	}

	h1 {
		font-size: 60px;
		font-family: 'Great Vibes', cursive;
		color: $white;
		margin-bottom: 1rem;
		@include max640px {
			font-size: 45px;
		}

		@include max375px {
			font-size: 37.5px;
		}

		&:after {
			display: none;
		}
	}
}
