.pricelist {
    background-color: #efefef;
    padding: 6rem 0;
    .pricelist__table-in {
        margin-bottom: 4rem;
    }

    .pricelist__table {
        width: 400px;
        margin: 0 auto 2rem;
        &:last-child {
            margin-bottom: 0;
        }

        th {
            font-size: 22px;
            text-align: left;
            border-bottom: 2px solid $blue;
            padding: 1rem 0;
        }

        td {
            font-size: 16px;
            padding: 0.75rem 0;
            border-bottom: 1px solid $blue;
            &:first-child {
                width: 250px;
            }
        }
    }
}
